*{
    border: 1px solid red;
    padding: 2px;
    margin: 4px;
}

.hamburger-navigation{
    position: relative;
}
.hamburger-navigation .options{
    position: absolute;
    left: -2em;
    opacity: 0;
    transition: left 1s,opacity 0.3s;
}
 .options.open-burger{
    left:1em;
    opacity: 1;
    position: relative;
}
 .options.close-burger{
    left: -2em;
    opacity: 0;
}