*{
    padding:4px;
    margin: 4px;
    border: 2px solid red;
    box-sizing: border-box;
}
.navigation .hamburger-options{
    position: absolute;
    opacity: 0;
        /* this is responsible for the way out */
        transition-timing-function: ease-in;
        transition: 0.3s;
        /* pushes out of view */
        transform: translateX(-50%);
}
.navigation .hamburger-options li:hover{
    color: tomato;
}
 .hamburger-options.open-burger{
    opacity: 1;
    width: fit-content;
    position: relative;
        /* this is responsible for the way in */
        transition-timing-function: ease-out;
        transition: 0.5s;
        /* pushes into view */
        transform: translateX(0%);
}
.navigation .dropdown-options{
    border-radius: 5%;
    width: fit-content;
    position: absolute;
    opacity: 0;
    z-index: -1;
    
    /* this is responsible for the way out */
    transition-timing-function: ease-in;
    transition: 0.3s;
    /* pushes out of view */
    transform: translateY(-50%);
}

.dropdown-options.open-dropdown{
opacity:1;
position: relative;
z-index: 1;
/* responsible for pushing in in to view */
transition-timing-function: ease-out;
transition: 0.5s;
transform: translateY(0%);
}

.image-slider-container{
    display: flex;
    justify-content:center ;
}
.view-frame{
    display: flex;
    width: 400px;
    justify-content: center;
}
.image-container{
    box-sizing: content-box;
    min-width: 300px;
    height: 200px;
    transition-timing-function: ease-out;
    transform: 1s;
    transform: translateX(0);
}
.previuos{
    position: relative;
    left: 19em;
    background-color: blue;
    opacity: 0.5;
    z-index: 1;
}
.next{
    position: relative;
    left: -19em;
    background-color: blue;
    opacity: 0.5;
    z-index: 1;
}
